html,
body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000;
}

section {
    width: 100%;
    flex: 1;
    background: peru
}

.dls {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #000;
}

.banner {
    width: 100%;
    height: 50%;
}

.banner .message {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.message>dl {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.message>dl>dt {
    width: 100%;
    height: 60%;
}

.message>dl>dt>img {
    width: 100%;
    height: 100%;
}

.message>dl>dd>p {
    text-align: center;
    margin: 10px 0;
}

footer {
    width: 100%;
    height: 60px;
    background: #ccc;
}

.swiper-slider {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.swiper-slider dl {
    margin-top: 20px;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.swiper-slider dl dt img {
    border-radius: 50%;
}